/* main style */
* {
  --bgC: linear-gradient(135deg, rgba(243, 65, 65, 0.8) 0%,rgba(52, 152, 219,0.9) 100%);
  --phoneC: #140303;
  --uiC: #95E1D3;
  --btnC: #FCE97A;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Microsoft JhengHei;
  transition: 1s;
  user-select: none;
}

body {
  background: var(--bgC) no-repeat center center fixed;
}

#phone {
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: relative;
    left: -35%;*/
  width: 100vw;
  height: 100vh;
  color: #333;
  /*animation: move 2s 1;*/
}

.phonecase {
  padding: 50px 15px 9px;
  background: var(--phoneC);
  border: 2px solid #333;
  border-radius: 50px;
  box-shadow: 0px 0px 30px #333;
}

#sound {
  display: inline-block;
  position: relative;
    top: -25px;
    left: 120px;
  width: 54px;
  height: 8px;
  background: #333;
  border-radius: 4px;
}

#homebtn {
  display: inline-block;
  position: relative;
    top: 5px;
    left: 120px;
  width: 54px;
  height: 54px;
  background: #140303;
  border: 3px solid #333;
  border-radius: 50%;
}

.container {
    width: 300px;
    height: 525px;
    background: var(--uiC);
    border: 2px solid #140303;
    border-radius: 2px;
}

.content {
  height: 35%;
    color: #1F5F8B; }
  .content .name {
    display: inline-block;
    margin: 1% 5% 0;
    font-size: 4em;
    font-weight: 900; }
  .content .setting {
    position: relative;
    top: -15px;
    right: -15px;
    display: inline-block;
    width: 50px;
    height: 50px; }
  .content .setting img {
    border-radius: 50%;
    cursor: pointer; }
  .content .detail {
    margin: 0 5%;
    font-size: 1.3em;
    font-weight: 900; }
    .content .detail ul {
      list-style-type: none;
}

.btnarea {
  height: 65%; }
  .btnarea > * {
    box-shadow: 0px 0px 5px #000; }
  .btnarea .mainbtn {
    display: inline-block;
    width: 42.8%;
    height: 31%;
    margin: 2% 1.5% 2% 5%;
    background: var(--btnC);
    border-radius: 10px; }
    .btnarea .mainbtn:nth-child(2n) {
      margin: 2% 5% 2% 1.5%; }
    .btnarea .mainbtn img {
      display: block;
      height: 60%;
      margin: 5% auto; }
    .btnarea .mainbtn p {
      color: #333;
      font-size: 1.3em;
      font-weight: 900;
      text-align: center; }
  .btnarea .mainbtnLast {
    display: inline-block;
    width: 90%;
    height: 25%;
    margin: 2% 5%;
    background: #F35151;
    border-radius: 10px;
    color: #fff; }
    .btnarea .mainbtnLast img {
      display: inline-block;
      height: 85%;
      margin: 2% 5% 2% 10%; }
    .btnarea .mainbtnLast div {
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;
      height: 100%;
      margin-right: 8%;
      font-size: 2em;
      font-weight: 900;
      vertical-align: middle;
}
